<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <h1>hello, <%= user.displayName %> </h1>
    <p> Email: <%= user.emails[0].value %></p>
    <br>
    <a href="/logout">
        <button>logout</button>
    </a>
</body>
</html>